# Ignore system files
.DS_Store

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.so

# Ignore logs and temporary files
src/models/pong*

# Environment files
.env
.venv/
env/
venv/
*.env

# Logs
*.log